body {
    background-color: #faf8f2;
    margin: 0 auto;
	padding: 0;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
}

header {
    width: 100%;
	height: 130px;
	background-color: #e1d5f2;
	margin: 0 auto;
	position: relative;
}

header img {
    width: 105px;
    height: 105px;
    margin: 0 auto;
    padding: 10px;
}

.name {
    position: absolute;
    top: 15px;
    left: 230px;
    font-size: 25px;
}

.roles {
    position: absolute;
    top: 50px;
    left: 140px;
    font-size: 14px;
}

#links {
    padding: 15px;
    position: absolute;
    font-size: 20px;
    top: 35px;
    left: 650px;
}

#link {
    padding: 15px 20px;
    margin: 60px;
    text-decoration: none;
    background-color: #faf8f2;
    color: black;
}

#link:hover {
    background-color: black;
    color: #faf8f2;
}

.livvic-semibold {
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-style: normal;
}

a {
    color: rgb(26, 102, 164);
}

#whoami img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 230px;
    padding-top: 20px;
    border-radius: 50%;
}

#summary, #education {
    position: relative;
    padding: 10px 100px 0 100px;
}

#experience {
    position: absolute;
    top: 495px;
    left: 900px;
    list-style-type: square;
}

#summary h2, #education h2, #experience h2, #skills h2 {
    font-size: 40px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 400px;
    padding: 10px 100px 0 100px;
    border-radius: 15%;
    background-color:black;
    color: #faf8f2;
}
