body {
    background-color: #faf8f2;
    margin: 0 auto;
	padding: 0;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
}

header {
    width: 100%;
	height: 130px;
	background-color: #e1d5f2;
	margin: 0 auto;
	position: relative;
	border-bottom: 4px solid #8f72b8;
}

header img {
    width: 105px;
    height: 105px;
    margin: 0 auto;
    padding: 10px;
}

.name {
    position: absolute;
    top: 15px;
    left: 230px;
    font-size: 25px;
}

.roles {
    position: absolute;
    top: 50px;
    left: 140px;
    font-size: 14px;
}

#links {
    padding: 15px;
    position: absolute;
    font-size: 20px;
    top: 35px;
    left: 650px;
}

#link {
    padding: 15px 20px;
    margin: 60px;
    text-decoration: none;
    background-color: #faf8f2;
    color: black;
}

#link:hover {
    background-color: black;
    color: #faf8f2;
}

.livvic-semibold {
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-style: normal;
}

a {
    color: rgb(26, 102, 164);
}

a:hover {
    color: #898989;
}

a:visited {
    color: #8f72b8;
}

#whoami img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 230px;
    padding-top: 20px;
    border-radius: 50%;
}

#summary {
    position: relative;
    padding: 10px 100px 10px 100px;
}

#education, #experience, #certs {
    position: relative;
    padding: 10px 100px 10px 100px;
}

#experience {
    list-style-type: square;
}

#certs {
    padding-bottom: 60px;
}

#summary h2, #education h2, #experience h2, #certs h2 {
    font-size: 40px;
    text-align: center;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.special {
    list-style-type: circle;
}

#skills {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    color: #faf8f2;
    padding-top: 10px;
    max-width: 500px;
    border-radius: 10%;
}

#skills h2 {
    text-align: center;
    font-size: 40px;
}

table {
    padding-bottom: 40px;
    padding-left: 45px;
}

footer {
    height: 60px;
	background-color: #e1d5f2;
	border-top: 4px solid #8f72b8;
    margin-top: 50px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
